{% load static %}
<html>
<head>
    <title>국내 행사</title>
    <style>#map { height: 800px; }</style>
</head>
<body>
    <header>
        <h1>국내 행사</h1>
    </header>
    <div id="map">{{ map_html|safe }}</div>

    <!-- folium에서 사용하는 JavaScript 파일들 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/leaflet.markercluster.js"></script>

    <script src="{% static '/js/index.js' %}"></script>
</body>
</html>